/* 

TO DO:

Header background gradient 
JS - mobile nav logic 
Alignment on header nav li's compared to buttons

### Primary

- Light red (CTA text): hsl(356, 100%, 66%)
rgba(255, 61, 84) 

Background gradient - infastructure:

- Very dark gray blue: hsl(237, 17%, 21%)
- Very dark desaturated blue: hsl(237, 23%, 32%)
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  font: 1rem/1.5 "Overpass", "Ubuntu", sans-serif;
  color: hsl(207, 13%, 34%);
}

/* ====================================
                  RESET 
 ====================================== */

img {
  display: block;
  max-width: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
  display: block;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.darkblue {
  color: hsl(208, 49%, 24%);
}

/* ====================================
                HEADER 
 ====================================== */

.header {
  min-height: 600px;
  border-bottom-left-radius: 120px;
  background: linear-gradient(to top, hsl(356, 100%, 66%), rgba(255, 143, 112)),
    url("/images/bg-pattern-intro.svg");
  background-position: 35% 35%;
  background-repeat: no-repeat;
  background-size: 280%;
  background-blend-mode: soft-light;
  padding: 3rem 1.8rem 0;
}

.header__flexsb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__mobilebg-nav-container {
  width: 100%;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  padding: 2rem 1rem;
  margin-top: 1rem;
}

.header__nav,
.header__login-signup-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.header-nav__btn {
  font-weight: 600;
  font-size: 1.2rem;
}

.arrow::before {
  content: url("./images/icon-arrow-dark.svg");
  display: inline-block;
}

.header-nav__ul {
  background-color: rgba(200, 200, 203, 0.3);
  border-radius: 5px;
  width: 90%;
  padding-block: 1rem;
  margin-block: 1.1rem;
}

.header-nav__ul a {
  color: rgba(31, 63, 91, 0.8);
  font-weight: 600;
  margin-block: 1rem;
}
/* ====================================
                  MAIN
 ====================================== */

/* ====================================
                  FOOTER 
 ====================================== */

.footer {
  background-color: hsl(240, 10%, 16%);
  color: hsl(240, 2%, 79%);
}

/* ====================================
              INTERACTIVE / STATE
 ====================================== */

.hidden {
  display: none;
}

.header-nav__ul a:hover {
  color: rgba(31, 63, 91);
}

/* ====================================
              MEDIA QUERIES 
 ====================================== */
