/* 
TO DO:

Refactor - max-width in rems, min() for width, flex-direction column 
Header background gradient - inversed colours
Hero line widths 
Inconsistent img sizes 
JS - mobile nav logic + hiding/showing nav uls
 */

/*  
rgba(255, 61, 84) 

Background gradient - infastructure:

- Very dark gray blue: hsl(237, 17%, 21%)
- Very dark desaturated blue: hsl(237, 23%, 32%)
 */

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font: 1rem/1.5 "Overpass", "Ubuntu", sans-serif;
  color: hsl(207, 13%, 34%);
  text-align: center;
}

.darkblue {
  color: hsl(208, 49%, 24%);
}

.white {
  color: white;
}

/* ====================================
                  RESET 
 ====================================== */

img {
  display: block;
  max-width: 100%;
}

ul,
li {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
  display: block;
}

button {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

a,
button {
  transition: 400ms;
  font-weight: 600;
}

.h2,
.h3 {
  font-size: 2rem;
  font-family: "Ubuntu";
  font-weight: 400;
}

.h3 {
  line-height: 1.2;
  margin-bottom: 0.5rem;
  max-width: 365px;
}

/* ====================================
                HEADER 
 ====================================== */

.header {
  min-height: 600px;
  border-bottom-left-radius: 120px;
  background: linear-gradient(to top, hsl(356, 100%, 66%), rgba(255, 143, 112)),
    url("/images/bg-pattern-intro.svg");
  background-position: 35% 35%;
  background-repeat: no-repeat;
  background-size: 300% 200%;
  background-blend-mode: soft-light;
  padding: 3rem 1.8rem 0;
}

.header__flexsb {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

.header__mobilebg-nav-container {
  width: 100%;
  padding: 2rem 1rem;
  margin-top: 1rem;
  position: absolute;
  top: 50px;
  left: 50%;
  transform: translateX(-50%);
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.header__nav,
.header__login-signup-container,
.hero__flex-parent,
.header__hero-container,
.future-container,
.infastructure-container,
.free-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header-nav__btn {
  position: relative;
}

.header-nav__btn,
.login,
.sign-up {
  font-size: 1.2rem;
}

.arrow::before {
  content: url("./images/icon-arrow-dark.svg");
  position: absolute;
  top: 50%;
  right: -10px;
  transform: translateY(-50%);
}

.header-nav__ul {
  width: 90%;
  margin-block: 1.1rem;
  padding-block: 0.5rem;
  background-color: rgba(200, 200, 203, 0.3);
  border-radius: 5px;
}

.header-nav__ul a {
  padding-block: 1rem;
  color: rgba(31, 63, 91, 0.8);
}

.hr {
  border: 0;
  height: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}

.login {
  padding-block: 1.5rem;
  width: 90%;
}

.header-btn {
  border-radius: 50px;
  padding: 0.8em 1.8em;
}

.sign-up {
  color: white;
  background-image: linear-gradient(
    to left,
    hsl(356, 100%, 66%),
    rgba(255, 143, 112)
  );
}

.header__hero-container {
  max-width: 390px;
  margin: 5rem auto;
}

.hero__title {
  width: 90%;
  margin-bottom: 0;
  font-size: 2.5rem;
  line-height: 1.3;
}

.hero__description {
  width: 70%;
  margin-top: 0.7rem;
  font-weight: 300;
  font-size: 1.1rem;
}

.btn-start-free,
.btn-learn-more {
  padding: 1rem 1.8rem;
  font-size: 1rem;
}

.btn-start-free {
  margin-right: 1rem;
  background-color: white;
  color: hsl(356, 100%, 66%);
}

.btn-learn-more {
  border: 1px solid white;
}
/* ====================================
                  MAIN
 ====================================== */

.main {
  flex-grow: 1;
}

.future-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5.5rem 0 17rem;
}

.future__title {
  margin: 0 0 3rem;
}

.main__flex-parent {
  display: flex;
  flex-direction: column;
  width: 90%;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
}

.main__flex-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-width {
  width: 85%;
  line-height: 1.8;
  font-weight: 300;
}

.infastructure-container {
  outline: 1px solid;
}

/* ====================================
                  FOOTER 
 ====================================== */

.footer {
  background-color: hsl(240, 10%, 16%);
  color: hsl(240, 2%, 79%);
}

/* ====================================
              INTERACTIVE / STATE
 ====================================== */

.hidden {
  display: none;
}

.header-nav__ul a:hover {
  color: rgba(31, 63, 91);
}

a:hover,
button:hover {
  transform: scale(1.1);
}

/* ====================================
              MEDIA QUERIES 
 ====================================== */

@media (min-width: 900px) {
  .hamburger-hidden {
    display: none;
  }
}
